[Unit]
Description=Manage dynamic dns for docker containers
After=docker.service

[Service]
ExecStart=/usr/local/bin/dnsthing -H /etc/coredns/docker.hosts --verbose
Restart=always

[Install]
WantedBy=multi-user.target
